extends layout

block content
  .container
    br       
    label Need Time Converter?  
        |     
        input.input-xs(type="checkbox" ng-model="converter")
        |    
        span(ng-show="converter" style="color:green") [Show]
        span(ng-show="!converter" style="color:purple") [Hidden]
      br
    div(ng-show="converter")
        input.col-xs-1(type="number" ng-model="hr1")
        input.col-xs-1(type="number" ng-model="min1")
        span In
        br
        p
        input.col-xs-1(type="number" ng-model="hr2")
        input.col-xs-1(type="number" ng-model="min2")
        span Out
        br  
        br
        p Total (hours)
        div.panel.panel-primary.col-xs-1(style="color:purple; font-size:16px", align="right") {{(hr2 + (min2/60) - hr1 - (min1/60)).toFixed(2) }} 
        br
        br
        hr
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      script.
        var user = !{JSON.stringify(user)}
        var jobs = user.jobs;
        var addJob = function() {
          var jobName = $('#newjob')[0].value
          //- console.log(jobName)
          $.post("/addjob", { username: '#{user.username}', jobname: jobName }).done(function(data) {
            location.reload();
          });
        }

      nav(class="navbar navbar-inverse navbar-fixed-top")
        div(class="container-fluid")
            div(class="navbar-header")
                a(class="navbar-brand" href="/") ClientTimer 
            div
                ul(class="nav navbar-nav")
                    li(class="active")
                        a(href="/") Hello, #{user.username} 
      br     
      div(ng-controller="StopWatchCtrl") 
        //- h3 Hello #{user.username}
        //- div.panel.panel-danger(style="color:purple; font-size:18px", align="center") Remember to hit 
        //-     span(style="color:red") STOP to SAVE 
        //-     | before Starting another client!
        //- div.panel.panel-primary(style="color:blue; font-size:18px", align="center") New feature added: Now auto-save ACTIVE CLIENT every 10 seconds
        //- div.panel.panel-info(style="color:blue; font-size:16px", align="center") 
        //-     span(style="color:red !important") Update 7/24:  
        //-     //- br
        //-     //- | - Fix a bug where start/stop button was applied to a DIFFERENT job when the list is being filtered!
        //-     br
        //-     span(style="color:blue !important") - Added pop-up confirmation windows for start/reset/remove to prevent accidental click
        br
        //- b Search or Add a client: 
        //- br
        //- br
        div(class="row")
            div.col-md-4.col-sm-6.col-xs-9    
                input(type="text", id="newjob", name="login" ng-model="searchText" placeholder="Search/Add Client").form-control
            div.col-md-1.col-sm-2.col-xs-3    
                button.btn-primary(data-action="add-job", onclick="addJob()").form-control Add
        //- br
        //- p #{user.username}'s current clients:
        
        //- button.btn-lg.btn-primary(ng-click="syncAllJob()") Sync All	
        br
        table(class="table table-hover table-condensed")
            caption(class="text-left") Active Client(s): 
                |      
                span(ng-repeat="job in activeJobs" style="font-weight:800;background-color:yellow") {{job}}, 
                div(style="float:right") Number of clients running: 
                    span(style="color:black !important;font-weight:800;background-color:yellow") {{ activeJobs.length }}   
            thead
                tr(class="info")
                    th.col-md-3 Client
                    th.col-md-2 Duration (hours)
                    th.col-md-2 H : M : S
                    th.col-md-3 Actions
                    th.col-md-2 Others
            tbody
                tr(ng-repeat="job in (filteredList = (jobs | filter:searchText))" ng-class="{'warning': isActive(job)}")
                    td {{job.jobname}}
                    td(style="color:black") 
                        {{ (job.hours + job.mins/60 + job.secs/3600).toFixed(2) }}
                    td(ng-style="isActive(job) ? {'color':'red'} : {'color':'black'}") {{job.hours}}:{{job.mins}}:{{job.secs}}
                    td.form-group(class="row") 
                        div.col-md-4
                            #[button.btn-success(ng-click="start(getIndex(job))").form-control Start] 
                        div.col-md-4    
                            #[button.btn-danger(ng-click="stop(getIndex(job))").form-control Stop] 
                    td.form-group(class="row") 
                        div.col-md-6 
                            #[button.btn-warning(ng-click="reset(getIndex(job))").form-control Reset] 
                        div.col-md-6    
                            #[button.btn-danger(ng-click="deleteJob(getIndex(job))").form-control &#xd7;]    
                hr        
                tr
                    td
                        b Total
                    td(style="color:blue")
                        b {{ sumTotal(filteredList).hrs }} (hours)    
                    td
                        //- b {{ sumTotal(filteredList).h }}:{{ sumTotal(filteredList).m }}:{{ sumTotal(filteredList).s }}
                    td
                    td        

        //- ol
        //-   li(ng-repeat="job in jobs | filter:searchText track by $index")
        //-     {{job.jobname}} - 
        //-     {{job.hours}}:{{job.mins}}:{{job.secs}} - 
        //-     | [
        //-     b(style="color:blue") 
        //-         {{ (job.hours + job.mins/60 + job.secs/3600).toFixed(2) }} 
        //-     | hours]  <--------  #[button.btn-danger.btn-xs(ng-click="deleteJob($index)") Remove]       
        //-     br 
        //-     #[button.btn-success(ng-click="start($index)") Start] #[button.btn-danger(ng-click="stop($index)") Stop] #[button.btn-warning(ng-click="reset($index)") Reset] #[br] #[br]                                            
        //- br
        //- br 
        hr
        button(ng-click="resetAll()") RESET ALL
        br
        br
        a(href="/logout" class="btn btn-default") Logout  
